POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sayvela

DATABASE_URL=postgres://postgres:postgres@postgres:5432/sayvela
JWT_SECRET=change-me

NEXT_PUBLIC_API_URL=http://localhost
API_URL=http://backend:3001
NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost

NGINX_PORT=80
